# Nubers

In [2]:
2+2

4

In [3]:
4-3

1

In [4]:
2*5

10

In [5]:
4/2

2.0

In [6]:
5%2

1

In [7]:
4**2

16

In [8]:
num1=20
num2 =2
num3 = 20/2
print(num3)

10.0

# BODMAS Rule 
### Brackest, of, Division. Maultiplication, Addition, Substraction

In [10]:
(2+10) * (10+3)

156

# Varibles

### Python uses DynamicTyping
#### type() method used to find the type of variable.

In [12]:
my_var = 2
print(my_var)
print(type(my_var))
my_var = ['Uma','Mahi']
print(my_var)
print(type(my_var))

2
<class 'int'>
['Uma', 'Mahi']
<class 'list'>

# STRINGS

### String Slice : allow us to grab the subsection of mutiple charecters a slice of the string
#### Syntax [start:stop:step]

In [14]:
my_str = 'Uma'
my_str1="Mahi"
my_str2="I'm going to sleep"
print(my_str)
print(my_str1)
print(my_str2)

Uma
Mahi
I'm going to sleep

In [15]:
print(my_str[0])
print(len(my_str))
print("Hello Umamahi \n how are you?")

U
3
Hello Umamahi
 how are you?

# Indexing

In [17]:
my_index = "Hello World"

for i in my_index:
    print(i)
print()
print(my_index[0])
print(my_index[9])

H
e
l
l
o

W
o
r
l
d

H
l

# Slicing

In [19]:
my_slice = "Hello how are you"

print(my_slice[2:])
print(my_slice[:5])
print(my_slice[-3:])
print(my_slice[4:11])
print(my_slice[::])
print(my_slice[::2]) #jumping
print(my_slice[3:9:2]) # Start from 3 and print till 9 jump  index 2
print(my_slice[::-1]) # reverse a string

llo how are you
Hello
you
o how a
Hello how are you
Hlohwaeyu
l o
uoy era woh olleH

In [20]:
my_slice1 = 'Umamahi'
print(my_slice1[::-1]) # reverse 
print("Hello World"[8])

ihamamU
r

In [21]:
my_slice1.upper()

'UMAMAHI'

In [22]:
my_slice2 = "Hello how are you"

my_slice2.split()

['Hello', 'how', 'are', 'you']

In [23]:
str1= "Hi this is a string"

print(str1.split())
print(str1.split('i'))

['Hi', 'this', 'is', 'a', 'string']
['H', ' th', 's ', 's a str', 'ng']

# STRING FORMAT

### to format string we use .foramt or f- string methods

In [25]:
name= 'Umamahi'
age= 42
desig='SE'
loca = 'Bengaluru'
print("My Name is {} and age is {}".format(name,age))
print("My Name is {} and age is {} location is {} working as a {}".format(name,age,desig,loca))
print("My Name is {0} and age is {1} location is {3} working as a {2}".format(name,age,desig,loca))
print("My Name is {n} and age is {a} location is {l} working as a {d}".format(n=name,a=age,d=desig,l=loca))
print()
print("Example with f string")
print(f"My name is {name} and age is {age}")
print(f"My Name is {name} and age is {age} location is {loca} working as a {desig}")

My Name is Umamahi and age is 42
My Name is Umamahi and age is 42 location is SE working as a Bengaluru
My Name is Umamahi and age is 42 location is Bengaluru working as a SE
My Name is Umamahi and age is 42 location is Bengaluru working as a SE

Example with f string
My name is Umamahi and age is 42
My Name is Umamahi and age is 42 location is Bengaluru working as a SE

# List Examples

### List methods
     1) append 2) copy, 3) pop, 4) insert, 5) remove, 6) reerse, 7)sort, 8) index

In [28]:
my_list = [0,1,2,3,4]
my_list2 = [5,6,7,8,9]

print(my_list)
print(my_list[3])
print(len(my_list))

print()
for i in my_list:
    print(i)

print()
print(my_list+my_list2) # adding 2 lists

[0, 1, 2, 3, 4]
3
5

0
1
2
3
4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
my_str_list = ['Uma','Mahi','Sai','Juhi']

for i in my_str_list:
    print(i)

print()
print("Slice")

print(my_str_list[1:])

my_str_list.append('Ammu')

print(my_str_list)
print(my_str_list.index('Sai'))
print(my_str_list[-1])
print(my_str_list[::])
print(my_str_list[::-1]) #reverse

print()
print('Pop,revrese')
print(my_str_list.reverse())
print(my_str_list)
print(my_str_list.pop())

print()
my_int_list = [4,6,3,1,5,2]
my_int_list.sort()
print(my_int_list)

Uma
Mahi
Sai
Juhi

Slice
['Mahi', 'Sai', 'Juhi']
['Uma', 'Mahi', 'Sai', 'Juhi', 'Ammu']
2
Ammu
['Uma', 'Mahi', 'Sai', 'Juhi', 'Ammu']
['Ammu', 'Juhi', 'Sai', 'Mahi', 'Uma']

Pop,revrese
None
['Ammu', 'Juhi', 'Sai', 'Mahi', 'Uma']
Uma

[1, 2, 3, 4, 5, 6]

# DICTIONARY EXAMPLES
#### Dictionaries are not  immutable.
#### Dictionaries not retain order and are not a sequence.

In [31]:
my_dict = {'one':1,"two":2,'three':3}

print(my_dict['one'])

fruits = {'apple':2.99, 'banana':3.22, ' milk':1.6}
print(fruits)
print(fruits['banana'])

my_fruits= {'apple':2.99, 'banana':3.22, 'milk':{'baffelow':2.5,'cow':1.6}}
print(my_fruits)
print(my_fruits['milk'])
print(my_fruits['milk']['cow'])
my_fruits= {'apple':2.99, 'banana':[3.22,2.1,0.55], 'milk':{'baffelow':2.5,'cow':1.6}}
print(my_fruits['banana'])
print(my_fruits['banana'][1])

my_fruits.values()

1
{'apple': 2.99, 'banana': 3.22, ' milk': 1.6}
3.22
{'apple': 2.99, 'banana': 3.22, 'milk': {'baffelow': 2.5, 'cow': 1.6}}
{'baffelow': 2.5, 'cow': 1.6}
1.6
[3.22, 2.1, 0.55]
2.1

dict_values([2.99, [3.22, 2.1, 0.55], {'baffelow': 2.5, 'cow': 1.6}])

In [32]:
my_val_dict={'k1':100,'k2':200}
print(my_val_dict)
my_val_dict['k3']=300
print(my_val_dict)
print("Keys")
print(my_val_dict.keys())
print(my_val_dict.values())
print(my_val_dict.get('k3'))
print(my_val_dict.items())
#print(my_val_dict.fromkeys('k1'))

{'k1': 100, 'k2': 200}
{'k1': 100, 'k2': 200, 'k3': 300}
Keys
dict_keys(['k1', 'k2', 'k3'])
dict_values([100, 200, 300])
300
dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

# TUPLES Examples
#### Tuplees are immutable

In [35]:
my_tuple = ('Uma',3,5.6)
print(my_tuple)

print(my_tuple[0])
print(my_tuple[::])
print(my_tuple[::-1])
#print(my_tuple.count())

('Uma', 3, 5.6)
Uma
('Uma', 3, 5.6)
(5.6, 3, 'Uma')

In [39]:
my_set=[1,2,3,2,3,1,5,4,6,5]
set(my_set)

{1, 2, 3, 4, 5, 6}

# FILE IO Operations

In [49]:
%%writefile myfile.txt
Hello this is the test file
this is the first line
this is the second line
this is the third line

Writing myfile.txt

In [59]:
myfile = open('myfile.txt')
for line in myfile:
    print(line)

Hello this is the test file

this is the first line

this is the second line

this is the third line

In [71]:
myfile1 = open('myfile.txt')
myfile1.read()
myfile1.seek(0) # to intilize from 0 th place
myfile1.readlines() #list foramt

['Hello this is the test file\n',
 'this is the first line\n',
 'this is the second line\n',
 'this is the third line\n']

In [75]:
with open('myfile.txt') as line:
    content = line.read()
    print(content)

Hello this is the test file
this is the first line
this is the second line
this is the third line

In [79]:
with open('myfile.txt',mode='r') as line:
    content = line.read()
    print(content)

Hello this is the test file
this is the first line
this is the second line
this is the third line

In [91]:
with open('myfile.txt', mode='a') as line:
    line.write('This is the fifth line')

lines = open('myfile.txt') 

lines.readlines()

['Hello this is the test file\n',
 'this is the first line\n',
 'this is the second line\n',
 'this is the third line\n',
 'This is the fifth lineThis is the fifth lineThis is the fifth lineThis is the fifth lineThis is the fifth line']

In [1]:
with open('myfile.txt', mode='w') as line:
    line.write('This is the sixth line')

lines = open('myfile.txt') 

lines.readlines()

['This is the sixth line']

# IF - ELSE , IF & ELIF & ELSE Statemetns

### Syntax

    if condition:
        statemetns
    else:
        statements

    if conditions:
        statemetns
    elif:
        statemetns
    else:
        statements

In [12]:

a = int(input("Enter a number : "))

if a<3:
    print("Correct")
else:
    print("Wrong")

Enter a number :  2

Correct

In [25]:
#hungry = False
hungry = True

if hungry :
    print("Feed me!!")
else:
    print("I am not hungry")

Feed me!!

In [29]:
#loc = 'bank'
loc = input('Enter Location : ')
if loc == 'auto':
    print("Auto location")
elif loc== 'market':
    print("Cool its Market")
elif loc == 'bank':
    print("Cool its Bank")
else:
    print("I dont know location")

Enter Location :  shop

I dont know location

# For Loops

#### Syntax
    for i in var:
        statemnts

In [32]:
for i in [1,2,3,4,5,6]:
    print(i)

1
2
3
4
5
6

In [47]:
for i in ['Uma','Mahi','Sai']:
    print(i)

Uma
Mahi
Sai

In [77]:
dict_ex = {'k1':100,'k2':200,'k3':300,'k4':400,'k5':500}
for k,v in dict_ex.items():
    print(k,"-",v)

k1 - 100
k2 - 200
k3 - 300
k4 - 400
k5 - 500

In [81]:
dict_ex = {'k1':100,'k2':200,'k3':300,'k4':400,'k5':500}
for v in dict_ex.values():
    print(v)

100
200
300
400
500

In [83]:
dict_ex = {'k1':100,'k2':200,'k3':300,'k4':400,'k5':500}
for v in dict_ex.keys():
    print(v)

k1
k2
k3
k4
k5

In [55]:
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst:
    if i%2 == 0:
        print(i,"Is Event Number")
    else:
        print(i,"Is Odd Number")

1 Is Odd Number
2 Is Event Number
3 Is Odd Number
4 Is Event Number
5 Is Odd Number
6 Is Event Number
7 Is Odd Number
8 Is Event Number
9 Is Odd Number
10 Is Event Number

In [63]:
lst1 = [1,2,3,4,5,6,7,8,9,10]
sum =0
for i in lst1:
    sum = sum+i
    print(sum)

print()
print(f"Total is {sum}")

1
3
6
10
15
21
28
36
45
55

Total is 55

In [61]:
lst2 = [1,2,3,4,5,6,7,8,9,10]
val = 1;
for i in lst2:
    val = val*i

print(val)

3628800

In [73]:
lst3 = [(1,2),(3,4),(5,6),(7,8),(9,10)]

for i in lst3:
    print(i)
    for j in i:
        print(j*2)

(1, 2)
2
4
(3, 4)
6
8
(5, 6)
10
12
(7, 8)
14
16
(9, 10)
18
20

In [75]:
lst3 = [(1,2),(3,4),(5,6),(7,8),(9,10)]

for a,b in lst3:
    print(a)
    print(b)

1
2
3
4
5
6
7
8
9
10

# whilk loops

#### SYNTAX:
while condition:

    statements

In [89]:
x = 0
while x<10:
    print(x)
    x=x+1;

0
1
2
3
4
5
6
7
8
9

In [91]:
x = 0
while x<10:
    print(x)
    x=x+1;
else:
    print("Reached end of the value")

0
1
2
3
4
5
6
7
8
9
Reached end of the value

In [93]:
x=[1,2,3]
for i in x:
    pass # do nothing just  move to next
print(x)

[1, 2, 3]

# USEFUL OPERATIONS

In [96]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [98]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [102]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [108]:
index_letter=0;
for cha in "HelloWorld":
    print("At index {} the charecer is {} ".format(index_letter,cha))
    index_letter += 1

At index 0 the charecer is H
At index 1 the charecer is e
At index 2 the charecer is l
At index 3 the charecer is l
At index 4 the charecer is o
At index 5 the charecer is W
At index 6 the charecer is o
At index 7 the charecer is r
At index 8 the charecer is l
At index 9 the charecer is d

In [112]:
word = "HelloWorld"
for cha in enumerate(word):
    print(cha)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, 'W')
(6, 'o')
(7, 'r')
(8, 'l')
(9, 'd')

In [130]:
word = "HelloWorld"
for index,cha in enumerate(word):
    print(index,cha)

0 H
1 e
2 l
3 l
4 o
5 W
6 o
7 r
8 l
9 d

In [134]:
lst_1=[1,2,3,4,5]
lst_2=[6,7,8,9,10]

for i in zip(lst_1,lst_2):  #conver to tuples from 2 lists
    print(i)

(1, 6)
(2, 7)
(3, 8)
(4, 9)
(5, 10)

In [136]:
lst_3=[1,2,3,4,5,6,7,8,9,10]

min_val = min(lst_3)
max_val = max(lst_3)
print(min_val)
print(max_val)

1
10

In [140]:
from random import randint

In [292]:
randint(0,100)

28

# LIST COMPREHENSIONS

In [300]:
words="HelloWorld"
my_wrd_lst=[]
for letr in words:
    my_wrd_lst.append(letr)

print(my_wrd_lst)

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [306]:
new_lst=[letr for letr in "HelloWorld"]
print(new_lst)

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [308]:
sample = [x for x in "Umamahi"]
sample

['U', 'm', 'a', 'm', 'a', 'h', 'i']

In [324]:
sq = [x*x for x in [1,2,3,4,5,6,7]]
sq

[1, 4, 9, 16, 25, 36, 49]

In [326]:
sq = [x*x for x in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15] if x%2 == 0]
sq

[4, 16, 36, 64, 100, 144, 196]

In [328]:
rns = [num for num in range(0,20)]
rns

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [330]:
celcious=[0,10,20,34.5]
far=[((9/5)*temp+32) for temp in celcious]
far

[32.0, 50.0, 68.0, 94.1]

In [334]:
values = [ x if x%2 == 0 else 'ODD' for x in range(0,11)]
values

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [338]:
my_list_comp = [x*y for x in [1,2,3,4] for y in [1,10,100,1000]]
my_list_comp

[1, 10, 100, 1000, 2, 20, 200, 2000, 3, 30, 300, 3000, 4, 40, 400, 4000]

# FUNCTIONS and METHODS

In [344]:
def hello():
    print("Hello World..!")


hello()

Hello World..!

In [346]:
def add_func(a,b):
    return a+b;

sum = add_func(5,4)
print(sum)

9

In [350]:
def my_name(name="Mahi"):
    print(f"My Name is {name}")

print(my_name("Umamahi"))
print(my_name())

My Name is Umamahi
None
My Name is Mahi
None

In [352]:
def check_evennum(num):
    return num%2 ==0

num=check_evennum(20)
print(num)

True

In [354]:
def even_nums(lst):
    nums=[]
    for i in lst:
        if i%2 ==0:
            nums.append(i)
        else:
            pass
    return nums

print(even_nums([1,2,3,4,5,6,7,8]))

[2, 4, 6, 8]

In [356]:
# Tuple unpacking

stock_price=[('APPLE',100),('GOODLE',200),('MS',300),('AMAZON',400),('FB',500)]

for sp in stock_price:
    print(sp)

('APPLE', 100)
('GOODLE', 200)
('MS', 300)
('AMAZON', 400)
('FB', 500)

In [364]:

stock_price=[('APPLE',100),('GOODLE',200),('MS',300),('AMAZON',400),('FB',500)]

for comp,price in stock_price:
    print(f'Company {comp} current stock price is {price}')
    price= price+(price*0.1)
    print(f'  Company {comp} stock price post incriment is {price}')

Company APPLE current stock price is 100
  Company APPLE stock price post incriment is 110.0
Company GOODLE current stock price is 200
  Company GOODLE stock price post incriment is 220.0
Company MS current stock price is 300
  Company MS stock price post incriment is 330.0
Company AMAZON current stock price is 400
  Company AMAZON stock price post incriment is 440.0
Company FB current stock price is 500
  Company FB stock price post incriment is 550.0

In [366]:
work_hours=[('Uma',100),('Mahi',300),('Sai',800)]
def bset_employye(work_hours):
    current_max=0;
    emp_of_month=''
    for emp,hour in work_hours:
        if hour>current_max:
            current_max = hour
            emp_of_month = emp
        else:
            pass
    return (emp,current_max)

bset_employye(work_hours)

('Sai', 800)

In [67]:
from random import shuffle

In [69]:
exm_list = [1,2,3,4,5,6,7,8,9,10]
shuffle(exm_list)

In [73]:
exm_list

[7, 8, 10, 9, 4, 6, 1, 3, 2, 5]

In [77]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [83]:
result = shuffle_list([1,2,3,4,5,6])
result

[3, 1, 2, 4, 5, 6]

In [95]:
def player_guess():
    guess=''
    while guess not in ['0','1','2']:
        guess = input('Pick a numer : 0,1 or 2')
    return int(guess)

In [97]:
player_guess()

Pick a numer : 0,1 or 2 1

1

In [103]:
def check_guess(mylist,guess):
    if mylist[guess]=='O':
        print('Correct')
    else:
        print('Wrong Guess');
        print(mylist)

mylist=[' ','O',' ']
mixedup_list=shuffle_list(mylist)
guess = player_guess()
check_guess(mixedup_list,guess)

Pick a numer : 0,1 or 2 0

Correct

# *args and **kwargs

In [110]:
def myfunc(a,b,c,d=0,e=0):
    return sum((a,b,c,d,e))


myfunc(10,20,30,40,50,60)

TypeError: myfunc() takes from 3 to 5 positional arguments but 6 were given

In [114]:
def myfunc1(*args):
    return sum(args)*0.05

In [120]:
print(myfunc1(10,20))
print(myfunc1(10,20,30))
print(myfunc1(10,20,30,40))
print(myfunc1(10,20,30,40,50))
print(myfunc1(10,20,30,40,50,60,70))

1.5
3.0
5.0
7.5
14.0